/*GLOBAL STYLES*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  /* overflow: hidden;
  overflow-y:scroll;
  scroll-behavior: smooth; */
  /* Efecto Snap en el scroll */
  /*scroll-snap-type: y mandatory; --> For snap Efects */
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

p{
  font-size: 1.6rem
}

img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

section{
  padding: 5rem 0;
}

/*Header*/
header{
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container{
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.nav-brand{
  width: 5rem;
  filter: invert(100%);
}

.menu-icons i{
  font-size: 2.5rem;
  color: #fafafa;
  cursor: pointer;
}

.close i{
  color: #eb648c;
}

.nav-list{
  width: 25rem;
  height: 100vh;
  background-color: #d7d4ed;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}

.nav-list.active{
  right: 0;
}

.close{
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-item{
  margin: 1.5rem 0;
}

.nav-link{
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0,0,0,.7);
}

/*Tamaño de los iconos*/
/*ion-icon {font-size: 36px;}*/

.hero{
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.2) 100%), url("Images/city.gif") center no-repeat;
  background-size: cover;
  position: relative;
  /*scroll-snap-align: center; --> For snap Efects */
  }

.hero::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4.7rem;
  background: url("Images/wave-small.png") center no-repeat;
  background-size: cover;
}

.main-message{
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%);
}

.main-message h3{
  font-size: 1.6rem;
  /*margin-top: -100px;*/
}

.main-message h1{
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
}

.main-message p{
  text-transform: lowercase;
}

.btn{
  background-color: #eb648c;
  border-radius: 2rem;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
  font-size: 1.1rem;
}

.btn:hover{
  background-color: #ce587b;
}


/*Experience*/
.experience{
  padding: 6;
  /*scroll-snap-align: center; --> For snap Efects */
}

.title-heading{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
  color: rgba(0, 0, 0, .7);
}

.title-heading h3{
  font-size: 1.4rem;
}

.title-heading h1{
  font-family: 'Aldrich', sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5rem 0 1rem;
}

.title-heading p{
  text-transform: lowercase;
}

.experiences-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(25rem, 1fr));
  grid-gap: 6.5rem;
}

.experiences-grid-item{
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: auto;
  z-index: 0; /* Antes lo tenía en 1 */
}

.experiences-grid-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.2) 100%);
  z-index: -1;
}

.one{
  background: url("Images/stars.jpg") center no-repeat;
  
}
.one p{
  column-count:2;
  text-align: center;
  column-gap: auto;
}

.two{
  background: url("Images/stars.jpg") center no-repeat;
}

.three{
  background: url("Images/stars.jpg") center no-repeat;
}

.experiences-grid-item i{
  font-size: 4rem;
  color: #eb648c;
  text-align: center;
}

.experiences-grid-item h1{
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
}



/*Testimonials*/
.testimonials{
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.2) 100%), url("Images/profilebg2.gif") center no-repeat fixed;
  background-size: cover;
  position: relative;
  /*scroll-snap-align: center; --> For snap Efects */
}

.testimonials::before{
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background: url(Images/wave-small-reversed.png)center no-repeat;
  background-size: cover;
}

.testimonial{
  width: 100%;
  color: #fafafa;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
}

.testimonial-text-box{
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.testimonial-text-box i{
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: #eb648c;
  opacity: .5;
  z-index: -1;
}

.testimonial-customer img{
  width: 13rem;
  height: 14rem;
  border-radius: 100%;
  border: 3px solid #eb648c;
}

.socialmedia{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: auto;
}

.icons{
  list-style: none;
}
.icons li{
  position: relative;
  height: 70px;
  width: 70px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
.icons li:before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10%;
  background: linear-gradient(45deg, #7b00e0,#ae31d9);
  transition: all 0.4s ease-in-out;
}

.icons li:hover:before{
  transform: rotate(360deg);
  border-radius: 100%;
}

.icons li a span{
  color: #fff;
  line-height: 70px;
  font-size: 27px;
  transition: all 0.4s ease-out;
}

.icons li:hover a span{
  transform: scale(1.5);
}




/*Projectss*/
.Projects{
 /* scroll-snap-align: center; --> For snap Efects */
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 4.5rem;
  margin-bottom: 2rem;
}



/*Footer*/
footer{
  padding: 2.5rem 0;
  background-color: #d7d4ed;
  text-align: center;
  color: rgba(0, 0, 0,0.7);
}


/*Media queries*/
@media screen and (min-width: 300px){ 
  .main-message{
    transform: translateY(10%);
  }

  .hero{
    height: 100vh;
  }

  .experiences-grid{
    grid-template-columns: repeat(auto-fit , minmax(16rem, 1fr));

  }

}

@media screen and (min-width: 350px){ 
  .main-message{
    transform: translateY(25%);
  }

  .hero{
    height: 100vh;
  }



  /* Checar si esto es necesario
  .testimonials::before{
    height: 7.4rem;
  }
  */
}



@media screen and (min-width: 470px){
  .hero::before{
    height: 9.4rem;
    background: url("Images/wave-medium.png");
    background-size: cover;
  }

  .testimonials::before{
    height: 9.4rem;
    background: url("Images/wave-medium-reversed.png");
    background-size: cover;
  }
}



@media screen and (min-width: 700px){
  header{
    height: 8rem;
  }

  .nav-brand{
    width: 7.0rem;
  }

  .nav-list{
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
  }

  .menu-icons{
    display: none;
  }

  .nav-item{
    margin: 0 2.5rem;
  }

  .nav-link,
  .current{
    color: #fafafa;
    position: relative;
    font-size: 1.3rem;
  }

  .nav-link::before,
  .current::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: #eb648c;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
  }

  .current::before{
    transform: scaleX(1);
  }

  .nav-link:hover::before{
    transform: scaleX(1);
  }

  .hero{
    height: 65vh;
  }

  /* CORREGIR ESTO
  .hero{
    height: 60vh;
  }

  .main-message{
    transform: translateY(70%);
  }*/

  .title-heading h1{
    font-size: 2.5rem;
  }
}



@media screen and (min-width: 950px){
  .hero::before{
    height: 22.7rem;
    background: url("Images/wave-large.png");
    background-size: cover;
  }

  .testimonials::before{
    height: 16.7rem; /* Antes era 22.7rem */
    background: url("Images/wave-large-reversed.png");
    background-size: cover;
  }

  .experience{
    padding: 0;
  }
}




@media screen and (min-width: 1200px){
  .hero{
    height: 85vh;
  }
  
}

.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 210px auto;
  grid-template-areas: "image" "text";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  font-family: Lato ;
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;
}
.card-image.card1 {
  grid-area: image;
  background: url("Images/BuddaDev.gif");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text.card1 .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
  margin-top: 6px;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}


/*card2*/
.card-image.card2 {
  background: url("Images/priceTracker.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text.card2 .date {
  color: rgb(255, 77, 7);
}

/*card3*/
.card-image.card3 {
  background: url("Images/GMapsDev.gif");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card3 .date {
  color: rgb(0, 189, 63);
}

/*card4*/
.card-image.card4 {
  background: url("Images/twitter_bot.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text.card4 .date {
  color: rgb(29, 202, 255);
}

/*card5*/
.card-image.card5 {
  background: url("Images/TopSpeed2.gif");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card5 .date {
  color: rgb(255, 0, 0);
}

/*card6*/
.card-image.card6 {
  background: url("Images/twitter.gif");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text.card6 .date {
  color: rgb(29, 202, 255);
}

/*card7*/
.card-image.card7 {
  background: url("Images/recognition.gif");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card7 .date {
  color: rgb(#7b00e0);
}

/*card8*/
.card-image.card8 {
  background: url("Images/gameplay4.gif");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card8 .date {
  color: rgb(#7b00e0);
}

/*card9*/
.card-image.card9 {
  background: url("Images/Wanna\ Fragance\ Logo.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card9 .date {
  color: rgb(#a52d2d);
}

/*card10*/
.card-image.card10 {
  background: url("Images/Previs.\ de\ app\ 8.gif");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card10 .date {
  color: rgb(255, 0, 0);
}

/*card11*/
.card-image.card11 {
  background: url("Images/Lucid\ Dreams\ Logo.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card11 .date {
  color: rgb(#7b00e0);
}

/*card12*/
.card-image.card12 {
  background: url("Images/Gameplay.gif");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card12 .date {
  color: orange
}

/*card13*/
.card-image.card13 {
  background: url("Images/hero.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}
.card-text.card13 .date {
  color: purple
}